header {
    position: relative;
    height: 200px;
    background: #ccc;
    display: flex;
    justify-content: space-between;
    h1 {
        @include positionCenter;
        width: 100px;
        height: 50px;
        background: $color-green;
    }
}